body {
	background: #fff;
}

/* Index All Movies */
.movies {
    width: 100%;
}

.movies img {
    width: 100%;
}

.movies h1 {
	margin-left: 1.6%;
	margin-bottom: 25px;
}

.movies .col-md-2 {
	padding: 0;
	border-color: #000 #000 #e74c3c;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    margin: 1.6%;
    transition: all 0.4s ease 0s;
}

.movies .col-md-2:hover {
	border-bottom-color: #c0392b;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.movies .col-md-2 h2 {
	font-size: 1.2em;
	margin-top: 10px;
}

.movies .title-panel {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #34495e 0%, #2c3e50 100%) repeat scroll 0 0;
    border-top: 1px solid #000;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset;
    color: #fff;
    padding: 5px;
}

.movies .title-panel .btn-primary {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #d35400 0%, #e67e22 100%) repeat scroll 0 0;
    border-color: #bdc3c7;
    color: #fff;
    display: inline-block;
    position: absolute;
    margin-left: 68%; 
    bottom: 30px;
}

/* Movie Page */

.movie {
    width: 100%;
}

.movie img {
    width: 100%;
}

.movie h1 {
	margin-left: 1.6%;
	margin-bottom: 25px;
}

.movie .col-md-2 .imgdesign {
	padding: 0;
	border-color: #000 #000 #e74c3c;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    margin: 1.6%;
    transition: all 0.4s ease 0s;
}

.movie .col-md-2  .imgdesign:hover {
	border-bottom-color: #c0392b;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.movie .col-md-2 h2 {
	font-size: 1.2em;
	margin-top: 10px;
}

.movie .title-panel {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #34495e 0%, #2c3e50 100%) repeat scroll 0 0;
    border-top: 1px solid #000;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset;
    color: #fff;
    padding: 5px;
}

.movie .col-md-5 > h2 .year {
    font-size: .5em;
}

.movie .col-md-5 > p .cnt {
    font-weight: bold;
}

.movie .col-md-5 > p .genre {
    font-weight: bold;
}

.movie .col-md-5 > p .director {
    font-weight: bold;
}

.movie .col-md-5 > p .imdb-rate {
    font-weight: bold;
}

.movie .col-md-3 h2 {
    font-size: 30px;
}

.movie .col-md-3 .selector {
    clear: both;
    line-height: 20px;
    width: 100%;
}

.movie .col-md-3 .btn-primary {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #d35400 0%, #e67e22 100%) repeat scroll 0 0;
    border-color: #bdc3c7;
    color: #fff;
}

/* Hall */

.hall {
    width: 100%;
}

table, th {
    border: 2px solid #bdc3c7;
    padding: 5px;
}

td { /* free spaces */
    border: 2px solid #bdc3c7;
    padding: 5px;
    background: #fff;
}

table tr td .notfree {
    color: red;
}